.landing-page {
  display: flex;
}

.left-side-photo {
  width: 60vw;
  height: 100vh;
  object-fit: cover;
}

.right-side {
  background-color: #fee8b0;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25vh;
}
/* -------------------------          start of forms                   ---------------------------------------------------------- */

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.inputs {
  height: 40%;
  color: #fee8b0;
  & input {
    height: 20px;
    width: 250px;
  }
}
.form-card {
  background-color: #9ca777;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  border-radius: 25px;
}
.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fee8b0;
  font-size: 50px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 90%;
}

.form-group-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  & label {
    padding: 3px;
  }
}

.form-label {
  font-weight: bold;
}

.form-group-login {
  & input {
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 8px;
  }
}

.submit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f6f1ee;
  color: #607056;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.submit-button:hover {
  color: white;
  background-color: #f97b22;
}
.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-group {
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-group input {
  margin-right: 8px;
  width: 10%;
  outline: none;
}

.checkbox-group .form-label {
  font-size: 14px;
  cursor: pointer;
}
/* -------------------------          end of forms                   ---------------------------------------------------------- */
.login-link {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & h1 {
    padding-right: 5px;
    color: #9ca777;
  }
  .link {
    font-weight: 500;
    text-decoration: none;
    color: #607056;
  }
}
