.landing-page {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left-side-photo {
  width: 60vw;
  height: 100vh;
  object-fit: cover;
}

.right-side {
  background-color: #fee8b0;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25vh;
}
/* -------------------------          start of forms                   ---------------------------------------------------------- */

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  /* border: solid black 1px; */
}
.inputs {
  height: 60%;
  width: 100%;
  color: #fee8b0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  && label {
    font-size: large;
    font-weight: 400;
    margin-left: 5px;
    margin-bottom: 2px;
    width: 100%;
  }
  && input {
    font-size: medium;
    border-radius: 10px;
    border: none;

    height: 20%;
    width: 100%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.input-group {
  display: flex;
  flex-direction: column;
}
.form-card-login {
  background-color: #9ca777;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  border-radius: 25px;
}
.form-title-login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fee8b0;
  font-size: 50px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 90%;
}

.form-group-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 8px;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f6f1ee;
  color: #607056;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.submit-button:hover {
  color: white;
  background-color: #f97b22;
}

.input-group-checkbox-login {
  /* padding-top: 2%; */
  display: flex;
  justify-content: center;
  align-items: center;
  && label {
    height: 100%;
  }
  && input {
    height: 100%;
    margin-right: 10px;
    width: 15px;
  }
}

/* -------------------------          end of forms                   ---------------------------------------------------------- */
.login-link {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & h1 {
    padding-right: 5px;
    color: #9ca777;
  }
  .link {
    font-weight: 500;
    text-decoration: none;
    color: #607056;
  }
}
/* -------------------------------------------     Mobile resolutions                ------------------------------------------ */
/* desktop is min width 1024 px */
/* tablet is 768 min and 1023 max */
/*  phone is 767 max width */
@media (min-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 1100px) {
  .left-side-photo {
    width: 0px;
    height: 0px;
  }
  .right-side {
    height: 100vh;
    width: 100vh;
  }
}
@media (max-width: 767px) {
  .left-side-photo {
    width: 0px;
    height: 0px;
  }
  .right-side {
    height: 100vh;
    width: 100%;
  }
}
