.homepage {
  overflow: hidden;
}
.homepage-navbar {
  position: fixed;
}
.homepage-body {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
}
.left-homepage {
  height: 100%;
  background-color: #607056;
}

.middle-homepage {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9ca777;
  min-height: 100vh;
}
.right-homepage {
  height: 100%;
  background-color: #607056;
}
